@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 106, 103;
  --background-middle-rgb: 232, 97, 93;
  --background-end-rgb: 225, 71, 67;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)) 0%,
      rgb(var(--background-middle-rgb)) 50%,
      rgb(var(--background-end-rgb)) 100%) rgb(var(--background-middle-rgb));
}